.App{
  font-family: 'Inter', Helvetica, sans-serif;
}
a{
  text-decoration: none;
}

.dropdown-toggle::after{
  display: none;
}
.navbar-toggler:focus,
.navbar-toggler:active{
    box-shadow: none;
}
.navbar-toggler{
  border: none;
}
.dropdown-menu{
  border: none;
  padding: 0;
}
.dropdown-item:hover{
  color: #2C9AFF ;
}
.dropdown-title:hover{
  color: #2C9AFF ;
}

.MuiBreadcrumbs-separator{
  color: white;
}
.color-blue{
  background-color: #2C9AFF !important;

}
.sign-logo{
  height: 70px;
  width: 100px;
}
.sign-button{
  width: 380px;
}

.swal-button{
  background-color:#2C9AFF ;
  font-weight: normal;
}
.swal-text{
  text-align: center;
  width: 70%;
}
.swal-footer{
  text-align: center;
}

.offcanvas{
  width: 25% !important;
}

.toolbar{
  height: 160px;
}

.content{
  position: relative;
  bottom: 70px;
}
.sign-in{
  position: relative;
  top: 200px;
}

.MuiButton-contained {
  text-transform: none !important;
}

.MuiPaginationItem-page{
  background-color: #2C9AFF !important;
  color:white !important;
  border-radius: 20% !important;
}
.MuiPaginationItem-icon{
  color: gray;
}